name: PR test
on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-pr:
    name: Test PR
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Echo file contents
        run: echo "foobar"

